---
import { marked } from "marked";
import * as github from "../../utils/github";

import Layout from "../../layouts/Layout.astro";
import { projects } from "../../content/projects";
import TechnologyList from "../../components/technologies/TechnologyList.astro";

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const renderer = {
  heading({ tokens, depth }) {
    const newLevel = Math.min(depth + 1, 6);

    const text = this.parser.parseInline(tokens);
    const escapedText = text.toLowerCase().replace(/[^\w]+/g, "-");

    return `<h${newLevel}>${text}</h${newLevel}>`;
  },
};

const { id } = Astro.params;
const { project } = Astro.props;

const readme =
  (await github.getReadme(project.id)) || "<p>No hay README disponible</p>";

marked.use({ renderer });
const htmlReadme = marked.parse(readme);
---

<Layout>
  <div id="proyecto-info" class="container">
    <img src={project.img} alt={project.title} loading="lazy" />

    <div>
      <h1>{project.title}</h1>

      <p>{project.descr}</p>

      <div>
        Tecnologías usadas:
        <TechnologyList technologies={project.technologies} />
      </div>

      <div>
        {
          project.link ? (
            <a href={project.link} target="_blank" class="link-button">
              Ver más
            </a>
          ) : (
            <div />
          )
        }
        {
          project.code ? (
            <a href={project.code} target="_blank" class="link-button">
              Ver código
            </a>
          ) : (
            <div />
          )
        }
      </div>
    </div>
  </div>
  <div class="container">
    <h2>README</h2>
    <code class="readme-content" set:html={htmlReadme} />
  </div>
</Layout>

<style>
  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  #proyecto-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 3em;
  }
</style>
